<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Use Profile</h1>
    <p>Name :  <%= user.name %></p>
    <p>Email :  <%= user.email %></p>
    <p>Skills : </p>
    <ul>
        <% user.skill.forEach((item)=>{ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
    
</body>
</html>